* {
    margin: 0;
    padding: 0;
}

.header {
    position: fixed;
    display: block;
    width: 100%;
    z-index: 10;
    

}
.barra {
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    width: 90%;
    height: 4em;
    padding: 0 100px;
    background-color: rgba(0, 0, 0, 0.473);
    backdrop-filter: blur(25px);
    border-bottom: 2px solid white;
    z-index: 10;
}
 .logo{
    display: flex;
    height: 4em;
    width: 7em;

 }
.imagem-logo{
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    margin: 0;
}
.logo h1{
    width: 100%;
    margin: auto;
}
.menu {
    display:flex;
    justify-content: space-evenly;
    width: 50vw;
    height: 8vh;
    list-style: none;
    z-index: 10;  
}
.menu li{
    padding-top: 2.8vh;
    background-color: transparent;
    transition: all 300ms ease-in-out;
    z-index: 10;
}

.menu a {
    position: relative;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 
    'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1em;
    margin-top: 1vh;
    margin-bottom: 1vh;
    color: rgb(255, 255, 255);
    text-decoration: none;
    text-shadow: 2px 2px 15px black;
    text-transform: uppercase;
    transition: transform 0.3s ease;
    z-index: 10;
}
.opcoes::after{
    content:"";
    position:absolute;
    left:-10%;
    bottom:-5px;
    width: 120%;
    height: 2px;
    border-radius: 2px;
    background-color: rgb(255, 255, 255);
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s ease;
}
.menu a:hover::after{
    transform: scaleX(1);
    
}
.menu li{
    transition: transform 0.3s ease;
}
.menu li:hover{
    transform: scale(1.05);
}
.secao-principal{
    z-index: 1;
    background-image: url("assets/tecnico.png");
    background-position: center;
    background-size: cover;
    top:0;
    width: 100%;
    height: 55vh;
    padding-top: 10vh;
}
.principal-1{
    margin: 0 auto;
    width: 50vw;
    height: 15vh;
    background-color: transparent;
     background-color: transparent;
    z-index: 1;
    padding-top: 7vh;
}
.principal-1 h1{
    font-size: 2vw;
    font-family: sans-serif;
    text-align: center;
    text-transform: uppercase;
    width: 30vw;
    margin-top: 3vh;
    margin: auto;
    padding-top: 3vh;
    padding-bottom: 3vh;
    background-color: transparent;
    border: 3px solid white;
    border-radius: 2vh;
    backdrop-filter: blur(10px);
    color: rgb(255, 255, 255);
    text-shadow: 4px 4px 10px black;
}
.principal-1 h2 {
    color: rgb(255, 255, 255);
    font-size: 2.5vw;
    font-family: sans-serif;
    text-align: center;
    padding-top: 2vh;
}
.carrossel{
    background-color: transparent;
    width: 38vw;
    height: 30vh;
    margin: auto;
    margin-top: 2vh;
    overflow: hidden;
    border-radius: 20px;
}

.slides {
    display: flex;
    width: 5vw;
    margin-top: 10vh;
    animation: scroll 18s  linear infinite;
    will-change: transform;
}
.slides img{
    margin-right:4vw;
    max-width: 18vw;
    min-height: 10vh;
    max-height: 15vh;
    margin-inline-start: 20px;
}
.motorola {
    padding-top: 15px;
    padding-bottom: 15px;
}
@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-4000%);
  }
}
.secao-principal-2{
    z-index: 1;
    display: flex;
    background-image: url("assets/fundo3.webp");
    background-position: center;
    background-size: cover;
    top:0;
    width: 100%;
    height: 100vh;
}

.principal-2 {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.principal-3 {

    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sub-principal-2 {
    margin-top: -15vh;
    width: 40vw;
    height: 55vh;
}
.sub-principal-2 h1{
    font-family: sans-serif;
    color: blue;
    text-align: center;
    font-size: 5vh;
    text-transform: uppercase;
}
.sub-principal-2 h2{
    font-family: sans-serif;
    padding-top: 2vh;
    text-align: center;
    font-size: 4vh;
}
.secao-principal-2 ul{
    font-family: sans-serif;
    width: 40vw;
    min-width: 30vw;
    max-width: 50vw;
    margin-left: 1em;
    font-size: 3.4vh;
    padding-top: 4vh;
    line-height: 5vh;
    list-style: inside;
}
.sub-principal-2 p {
    font-family: sans-serif;
    text-align: center;
    font-size: 5vh;
    padding-top: 5vh;
}
.sub-principal-3{
  position: relative;
  display: inline-block;
}

.sub-principal-3 img {
  display: block;
  width: 37vw;
  height: 80vh;
  position: relative;
  z-index: 2;
  border-radius: 150px 0 150px 0; /* arredondado só em 2 cantos */
}
.sub-principal-3::before {
  content: "";
  position: absolute;
  top: 1vh;
  left: 2vw;
  width: 96%;
  height: 100%;
  border: 0.5vw solid rgb(6, 2, 255);
  border-radius: 150px 0 150px 0;
  z-index: 1;
}

.secao-principal-3{
    background-color: white;
    background-image: url("assets/minimalista.png");
    background-position: center;
    background-size: contain;
    height: 80vh;
    width: 100%;


}
.principal-4{
    width: 100%;
    height: 100%;
    display: flex;
}

.sub-principal-4{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    height: 100%;
}
.sub-principal-5{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    height: 100%;
}
.avaliacao{
    width: 80%;
    height: 80%;
}
.avaliacao img{
    filter: drop-shadow( -5px 7px 6px rgb(255, 187, 0))


}
.principal-notas{
    width: 80%;
    height: 80%;

}
.texto-notas{
    width: 100%;
    height: 40%;
}
.texto-notas h1{
    text-align: center;
    padding-top: 3vh;
    font-family: sans-serif;
    font-size: 2.9vw;
    color:blue;
}
.texto-notas p{
    text-align: center;
    font-family: sans-serif;
    font-size: 2vw;
    font-style: italic;
    padding-top: 3vh;
}
.notas{
    height: 60%;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items:center;
}
.nota1 {
    box-sizing: border-box;
    width: 21vw;
    height: 21vw;
    margin:0;
}
.nota-div1{
    background-color: rgb(32, 32, 32);
    background-image: url("assets/noteRafa.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    border-radius: 1vw 1vw 0 0;
    height: 30%;
    width: 100%;
}
.nota-div2{
    background-color: rgb(32, 32, 32);
    height: 60%;
    width: 100%;
    border-radius: 0 0 1vw 1vw;
    display: flex;
    justify-content: center;
    text-align: center;
    padding-bottom: 0em;
}
.nota-div2 p{
    width: 80%;
    font-size: 0.9vw;
    text-align: justify;
    color: white;
    line-height: 1.5em;
}





.nota2 {
    box-sizing: border-box;
    width: 21vw;
    height: 21vw;
    margin:0;
}

.nota2-div1{
    background-color: rgb(32, 32, 32);
    background-image: url("assets/bruno.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    border-radius: 1vw 1vw 0 0;
    height: 10vh;
    width: 100%;
}
.nota2-div2 {
    background-color: rgb(32, 32, 32);
    height: 60%;
    width: 100%;
    border-radius: 0 0 1vw 1vw;
    display: flex;
    justify-content: center;
    text-align: center;
    padding-bottom: 3.5vh;
}

    .nota2-div2 p{
        width: 80%;
        font-size: 0.9vw;
        text-align: justify;
        color: white;
        line-height: 1.5em;
        padding-bottom: 100px;
    }


.avaliacao{
    width: 19vw;
    height: 40vh;
    min-width:20em;
    min-height: 30em;

    max-width: 20vw;
    max-height: 30vh;
}
.avaliacao img{
    width: 100%;
    height: 100%;
}

@media (max-width: 480px){
* {
    box-sizing: border-box;
}
.header {
    position: fixed;
    display: flex;
    width: 100%;
    z-index: 10;
    justify-content: center;
}

.logo{
    display: none;
    height: 0;
    width: 0;
    }
.imagem-logo{
    box-sizing: border-box;
    width: 0;
    height: 0;
    margin: 0;
}
.barra {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 100%;
    height: 3.5em;
    padding: 0;
    background-color: rgba(0, 0, 0, 0.473);
    backdrop-filter: blur(25px);
    border-bottom: 2px solid white;
    z-index: 10;
}
.menu {
    display:flex;
    width: 100%;
    justify-content: space-evenly;
    padding: 0;
    margin: 0;
    align-items: center;
}
.menu li{
    padding-bottom: 20px;
}


.secao-principal{
    z-index: 1;
    background-image: url("assets/tecnico.png");
    background-position: center;
    background-size: center;
    top:0;
    width: 100%;
    height: 270px;
    padding-top: 10vh;
}
.principal-1{
    width: 35vw;
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
     background-color: transparent;
    z-index: 1;
    padding-top:0;
}
.principal-1 h1{
    font-size: 20px;
    font-family: sans-serif;
    text-align: center;
    text-transform: uppercase;
    width: 48vw;
    margin-top: 3vh;
    margin: auto;
    padding-top: 3vh;
    padding-bottom: 3vh;
    padding-right: 5vw;
    padding-left: 3vw ;
    background-color: transparent;
    border: 3px solid white;
    border-radius: 2vh;
    backdrop-filter: blur(10px);
    color: rgb(255, 255, 255);
    text-shadow: 4px 4px 10px black;
}
.carrossel{
    display: none;
    background-color: transparent;
    width: 100%;
    height: 30vh;
    margin-top: 0;
    overflow: hidden;
    border-radius: 20px;
    margin: 20px auto;
}

.slides {
    display: none;
    width: 10vw;
    margin-top: 10vh;
    animation: scroll 18s  linear infinite;

}
.slides img{
    margin-right:100px;
    max-width: 1000px;
    min-height: 15vh;
    max-height: 15vh;
    margin-inline-start: 20px;
}
.motorola {
    padding-top: 1px;
    padding-bottom: 1px;
    margin-right: 0;
}
.secao-principal-2{
    z-index: 1;
    display: block;
    flex-wrap: wrap;
    background-image: url("assets/fundo3.webp");
    background-position: center;
    background-size: cover;
    top:0;
    width: 100%;
    height: 1500px;
}

.principal-2 {
    width: 100%;
    height: 1000px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
.principal-3 {
    margin-top: 50px;
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: start;
    padding-top: 50px;
}
.sub-principal-2 {
    margin-top: 0px;
    width: 100%;
    height: 400px;
}
.sub-principal-2 h1{
    font-family: sans-serif;
    color: blue;
    text-align: center;
    font-size: 5vh;
    text-transform: uppercase;
    margin-top: 50px;
}
.sub-principal-2 h2{
    font-family: sans-serif;
    padding-top: 2vh;
    text-align: center;
    font-size: 4vh;
}
.sub-principal-2 ul {
    font-family: sans-serif;
    width: 85%;
    max-width: 100%;
    margin-left: 1em;
    font-size: 3.4vh;
    padding-top: 4vh;
    line-height: 50px;
    list-style: inside;
}
.sub-principal-2 p {
    width: 80%;
    margin-left: 40px;
    font-family: sans-serif;
    text-align: center;
    font-size: 5vh;
    padding-top: 5vh;
}
.sub-principal-3{
  position: relative;
  display: inline-block;
}

.sub-principal-3 img {
  margin-left: 50px;
    display: block;
  width: 70%;
  height: 70%;
  position: relative;
  z-index: 2;
  border-radius: 150px 0 150px 0; /* arredondado só em 2 cantos */
}
.sub-principal-3::before {
  content: "";
  position: absolute;
  top: 5px;
  left: 55px;
  width: 70%;
  height: 100%;
  border: 0.5vw solid rgb(6, 2, 255);
  border-radius: 150px 0 150px 0;
  z-index: 1;
}

.secao-principal-3{
    background-color: white;
    background-image: url("assets/minimalista.png");
    background-position: center;
    background-size: contain;
    height: 2000px;
    width: 100%;

}






.principal-4{
    width: 100%;
    height: 100%;
    display: block;
}

.sub-principal-4{
    display: flex;
    align-items: start;
    margin-top: 50px;
    width: 100%;
    height: 250px;
}
.sub-principal-5{
    display: flex;
    justify-content: center;
    align-items: start;
    width: 100%;
    height: 100%;
}
.avaliacao{
    width: 100px;
    height: 70px;
}
.avaliacao img{
    filter: drop-shadow( -5px 7px 6px rgb(255, 187, 0))


}
.principal-notas{
    width: 80%;
    height: 80%;

}
.texto-notas{
    width: 100%;
    height: 200px;
    margin-bottom: 20px;
}
.texto-notas h1{
    text-align: center;
    padding-top: 3vh;
    font-family: sans-serif;
    font-size: 8vw;
    color:blue;
}
.texto-notas p{
    text-align: center;
    font-family: sans-serif;
    font-size: 7vw;
    font-style: italic;
    padding-top: 3vh;
}
.notas{
    height: 60%;
    width: 100%;
    display: block;
    justify-content: center;
    align-items:start;
}
.nota1 {
    box-sizing: border-box;
    width: 70%;
    height: 250px;
    margin-left:15%;
}
.nota-div1{
    background-color: rgb(32, 32, 32);
    background-image: url("assets/noteRafa.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    border-radius: 1vw 1vw 0 0;
    height: 30%;
    width: 100%;
}
.nota-div2{
    background-color: rgb(32, 32, 32);
    height: 60%;
    width: 100%;
    border-radius: 0 0 1vw 1vw;
    display: flex;
    justify-content: center;
    text-align: center;
    padding-bottom: 0em;
}
.nota-div2 p{
    width: 80%;
    font-size: 2.5vw;
    text-align: justify;
    color: white;
    line-height: 1.5em;
}
.nota2 {
    box-sizing: border-box;
    width: 70%;
    height: 250px;
    margin-left:15%;
}

.nota2-div1{
    background-color: rgb(32, 32, 32);
    background-image: url("assets/bruno.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    border-radius: 1vw 1vw 0 0;
    height: 10vh;
    width: 100%;
}
.nota2-div2 {
    background-color: rgb(32, 32, 32);
    height: 80%;
    width: 100%;
    border-radius: 0 0 1vw 1vw;
    display: flex;
    justify-content: center;
    text-align: center;
    padding-bottom: 3.5vh;
}

    .nota2-div2 p{
        width: 80%;
        font-size: 2.5vw;
        text-align: justify;
        color: white;
        line-height: 1.5em;
    }


.avaliacao img{
    width: 50%;
    height: 50%;
    margin-left: 70px;
}



}